.Button {
  padding: 0.75rem 1.25rem;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;

  align-items: center;
  appearance: button;
  background-color: #0276FF;
  border-radius: 0.5rem;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  
  font-size: 100%;
  line-height: 1.15;
  
  text-align: center;
  text-transform: none;
  transition: width .13s ease-in-out, color .13s ease-in-out, background-color .13s ease-in-out, opacity .13s ease-in-out, box-shadow .13s ease-in-out;

  &:active {
    background-color: #006AE8;
  }

  &:disabled {
    background-color: #6e9eda;
    pointer-events: none;
  }
  
  &:hover {
    background-color: #1C84FF;
  }

  div:first-of-type {
    margin-right: 0.30rem;
  }
}